<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <h1>Sucursal Table</h1>

    <a class="btn btn-primary" th:href="@{/sucursal/new}">Add New Sucursal</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sucursal : ${sucursals}">
            <td th:text="${sucursal.pk_SucursalID}"></td>
            <td th:text="${sucursal.nomSucursal}"></td>
            <td th:text="${sucursal.paisSucursal}"></td>
            <td>
                <a class="btn btn-success" th:href="@{'/sucursal/update/'+${sucursal.pk_SucursalID}}">Update</a>
                <a class="btn btn-danger" th:href="@{'/sucursal/delete/'+${sucursal.pk_SucursalID}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
